<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/menu.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/social.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "highlighter/styles/thinkbig-github.css"}}" />

    {{! Commented out the Ghost headers below to allow us to remove the meta generator security risk and customize what information is included }}
    {{! ghost_head}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
      {{! Ghost outputs important scripts and data with this tag }}
      {{ghost_foot}}
    </footer>

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery-1.11.1.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script async type="text/javascript" src="{{asset "js/menu.js"}}"></script>
    <script type="text/javascript" src="{{asset "highlighter/highlight.pack.js"}}"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://apis.google.com/js/platform.js" async defer>
        lang: 'en_US'
        parsetags: 'onload'
    </script>
    <script async defer src="https://platform.linkedin.com/in.js" type="text/javascript">
        lang: en_US
    </script>
    <script async defer>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));
    </script>
</body>
</html>
