{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
{{navigation}}
<main class="content" role="main">

    <article class="{{post_class}}">


        {{! Each post has the blog logo at the top, with a link back to the home page }}

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <span class="post-meta">
              {{#author}}
              By <a class="author-posturl" href="{{url}}">{{name}}</a>
              {{/author}}
              on <time datetime="{{date format="YYYY-MM-DD"}}">
                {{date format='DD MMMM YYYY'}}</time>
                {{tags prefix="in " separator=" | "}}</span>

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>
            {{> share-and-like-strip}}
        {{/post}}

    </article>
</main>
